.socketWrapper {
    padding-top: 6vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.difficulty-dropdown {
    /* width: 15vw; */
    /* padding-bottom: 0px; */
}

.matchmakingBtn {
    margin-top: 2vh;
}


.head {
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid #03fcca;
    width: 25%;
    margin-bottom: 5vh;
    color: #03fcca;
    padding-top: 14px;
    padding-bottom: 8px;
}

.head>h3 {
    font-family: 'Inter', sans-serif;
    font-size: 2vw;
    cursor: pointer;
}

.username-field {
    height: 3vw;
    margin-bottom: 10px;
}

.match-button {
    margin-top: 10px;
}

label {
    color: white;
    text-align: left;
}

.flexDiff {
    display: flex;
    align-items: center;
    gap: 10px;
}