.socketWrapper {
    padding-top: 6vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.difficulty-dropdown {
    /* width: 15vw; */
    /* padding-bottom: 0px; */
}

.username-field {
    /* width: 15%; */
    /* margin-top: 50px; */
    height: 2vw;
    margin-bottom: 10px;
}

.match-button {
    margin-top: 10px;
}

label {
    color: white;
    text-align: left;
}

.flexDiff {
    display: flex;
    align-items: center;
    gap: 10px;
}