@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
	background-color: #002029 !important;
}

.headWrap {
	margin-top: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3vw;

}

.heading {
	border-radius: 10px;
	background-color: white;
	width: 30%;
}

.heading>h3 {
	font-family: 'Inter', sans-serif;
	font-size: 2vw;
	cursor: pointer;
}

.modeSelect {
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
}

.soloBtn,
.onlineBtn {
	background-color: #004052;
	padding: 4vw;
	padding-top: 5vw;
	padding-bottom: 5vw;
	width: 20%;
	color: white;
	font-family: 'Inter', sans-serif;
	font-size: 2vw;
}

.leaderboardBtn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #004052;
	/* padding: 4vw; */
	padding-top: 2vw;
	padding-bottom: 2vw;
	width: 10%;
	color: white;
	font-family: 'Inter', sans-serif;
	font-size: 1vw;

}

.leaderSelect {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}

.leader{
	background-color: #004052;
	padding: 1vw;
	padding-top: 3vw;
	padding-bottom: 3vw;
	width: 20%;
	color: white;
	font-family: 'Inter', sans-serif;
	font-size: 1.5vw;
	cursor: pointer;
}

.leader>img{
	width: 40%;
	/* margin-left: 1.75vw; */
	
}



.leaderboardWrapper{
	display: flex;
	justify-content: center;
}

.leaderboardBtn>img{
	width: 60%;
	margin-left: 1.75vw;
}


.soloBtn>img,
.onlineBtn>img {
	margin-bottom: 1vw;
	width: 70%;
}

.soloBtn>img {
	width: 52%;
}



.soloBtn:hover,
.onlineBtn:hover {
	cursor: pointer;
}

