@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.gameWrapper h3 {
	margin-left: 2vw;
	background-color: transparent;
	border: 3px solid #03fcca;
	color: #03fcca;
	margin-top: 15px;
	width: 20%;
	padding-top: 1vw;
	padding-bottom: 1vw;
	border-radius: 10px;
	font-family: 'Inter', sans-serif;
}

.testWrapper {
	display: flex;
	flex-direction: column;
}

.testInput {
	width: 30%;
	height: 2vw;
	padding: 3px;
}

.promptContainer {
	width: 50%;
	text-align: left;
	align-self: center;
	color: white;
	font-size: 2vw;
	font-family: 'Inter', sans-serif;
	margin-top: 2vw;
	margin-bottom: 2vw;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inputContainer>input {
	width: 70%;
	height: 4vw;
	font-size: 20px;
}

.timer {
	color: white;
}

.wait {
	color: white;
}

.isReady {
	color: white;
}

.progressWrap {
	margin: 2vw;
	display: flex;
	justify-content: center;
	align-items: center;

}

.progress {
	width: 50%;
}

strong {
	font-size: 30px;
}

.accuracy {
	margin-top: 15px;
	color: white;
}