@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.username-progress {
	margin-right: 10px;
	padding-right: 10px;
}


.gameWrapper {
	height: 100vh;
	background-color: #002029;
}

.gameWrapper h3 {
	margin-left: 2vw;
	background-color: white;
	width: 20%;
	padding-top: 1vw;
	padding-bottom: 1vw;
	border-radius: 10px;
	font-family: 'Inter', sans-serif;
}

.h3 {
	font-family: 'Inter', sans-serif;
	font-size: 2vw;
	cursor: pointer;
}

.testWrapper {
	display: flex;
	flex-direction: column;
}

.testInput {
	width: 30%;
	height: 2vw;
	padding: 3px;
}

.promptContainer {
	width: 50%;
	text-align: left;
	align-self: center;
	color: white;
	font-size: 2vw;
	font-family: 'Inter', sans-serif;
	margin-top: 2vw;
	margin-bottom: 2vw;
	white-space: pre-wrap;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inputContainer>input {
	width: 70%;
	height: 4vw;
	font-size: 20px;
}

.timer {
	color: white;
}

.wait {
	color: white;
}

.isReady {
	color: white;
}

.progressBarWrap {
	margin-top: 15px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;

}

.sthYaar {
	width: 60%;
}

.playersHead {
	margin-top: 15px;
	color: white;
	font-size: 26px;
}

.playersWrap {
	font-size: 16px;
	color: white;
}

.leadHead {
	color: white;
}

.leaderboard {
	color: white;
}

strong {
	font-size: 30px;
}

.accuracy {
	margin-top: 15px;
	color: white;
}